img {
  margin-top: 20px;
  width: 200px;
  padding: 5px;
  overflow: hidden;
}
.card {
  margin: auto;
  top: 2rem;
  width: 70%;
  border-radius: 10%;
  padding: 10px;
  box-shadow: 5px 10px 20px 3px;
}
body {
  background: #e2e1e0;
  margin: 5px 5px 5px 5px;
}
